@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none; 
  color: inherit;         
}
body{
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin: auto;
  max-width: 1480px;
  font-family: 'Fira Sans';
  font-style: normal;
  color: #FFFFFF;
  background: linear-gradient(180deg, #000000 0%, #08003B 100%);
}

.indicator{
width: 8px;
height: 8px;
border-radius: 50%;
background: #66FCF1;

}
.hero-signal-title{
  margin-top: 165px;
  width: 505px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero-signal{
  width: 159px;
  height: 28px;
font-weight: 500;
font-size: 12px;
line-height: 20px;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 20px 10px 10px;
gap: 16px;
background: #616161;
border-radius: 16px;
}

.hero-block-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  gap: 26px;
flex-wrap: nowrap;
justify-content: space-between;
}
.hero-title {
text-transform: uppercase;
font-weight: 500;
font-size: 48px;
line-height: 58px;
color: #FFFFFF;
  font-weight: 400;
}
.ui{
font-weight: 700;
font-size: 48px;
line-height: 58px;
}
.hero-image{
  z-index: -1;
position: absolute;
width: 721px;
height: 631px;
right: 0;
top: 100px;
}
.hero-subtitle{
font-weight: 400;
font-size: 16px;
line-height: 130%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
gap: 25px;
width: 331px;
color: #FFFFFF;
}
.hero-buttons{
  display: flex;
  gap: 26px;
}
.btn-text{
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 30px 4px 4px;
gap: 18px;
width: 169px;
height: 50px;
background: #5A16E1;
border-radius: 24px;
transition: all 500ms ease; 
}

.btn-text{
  transform-style: preserve-3d;
}

.btn-text:after {
  display: flex;
  align-items: center;
  justify-content: center;
border-radius: 24px;
	top: -100%;
	left: 0;
	width: 100%;
  height: 90%;
	position: absolute;
	background: #5A16E1;
	content: 'Перейти';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.btn-text:hover{
  transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
.hero-btn{
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 30px 4px 4px;
gap: 18px;
width: 169px;
height: 50px;
background: #5A16E1;
border-radius: 24px;
transition: all 500ms ease; 
}
.resume{
  background:none;
  border: 1px solid #5A16E1;
}.resume svg{
  transform:rotate(90deg);
}

.hero-btn{
  transform-style: preserve-3d;
}

.hero-btn:after {
  display: flex;
  align-items: center;
  justify-content: center;
border-radius: 24px;
	top: -100%;
	left: 0;
	width: 100%;
  height: 90%;
	position: absolute;
	background: #5A16E1;
	content: 'Перейти';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.hero-btn:hover{
  transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
.line{
  padding-left: 60px;
    margin: auto;
   max-width: 100em;
    overflow: hidden;    
}
.myskill{
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 275px;
  animation: run 15s linear infinite;
}
@keyframes run {
   0% {
      transform: translatex(0);
   }
   100% {
      transform: translatex(-135%);
   }
}

.skill{
font-family: 'Sora';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 45px;
display: flex;
justify-content: center;
align-items: center;
white-space: nowrap;
padding: 20px;
margin: 0 auto;
background: #08003B;
border: 1px solid #5A16E1;
border-radius: 32px;

}

.aboutme{
margin-top: 87px;
}

.about-title{
font-weight: 500;
font-size: 48px;
line-height: 58px;
color: #535353;
}
.about-paragraph-1,.about-paragraph-2{
font-weight: 400;
font-size: 36px;
line-height: 60px;
color: #ebebeb;
}

.about-paragraph-2{
  margin-top: 20px;
}

.about-bold{
  font-weight: 700;
  color: #313131;
}
.ab-img{
width: 231px;
height: 294px;
background: url(/image/02\ 1.png);
}
#portfolio{
  margin-top: 87px;
}

.portfolio-title{
  text-align: end;
  padding-right: 16px;
font-weight: 500;
font-size: 48px;
line-height: 58px;
color: #FFFFFF;
}

.portfolio-cards{
  max-width: 1440px;
  height: 578px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  gap: 20px;
}
.card{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  /* background: #ffffff; */
  cursor: pointer;
  border-radius: 64px;
display: flex;
flex-direction: column;
justify-content:flex-end;
align-items: flex-start;
padding: 40px 20px ;
gap: 16px;
transition: all .5s ease;
}
.card .content-project{
  display: none;
}
.accord:hover{
  width: 80%;
    .card .content-project{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    gap: 16px;
  }
}

.accord{
  position: relative;
  width: 15%;
  height: inherit;
  padding: 20px;
  background: #ffffff;
  cursor: pointer;
  transition: all .5s ease;
  border-radius: 64px;
}
/* .accord .gamesite{
  width: 80%;
} */

.gym{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%), url(/image/GYM24.png);
  background-size:cover;
  background-position: 50%;
}
.post{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%), url(/image/Post.png);
background-size:cover;
background-position: 50%;
}
.nice{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%), url(/image/nice.png);
background-size: cover;
background-position: 50%;
}
.mobileapp{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%), url(/image/mobileapp.png);
background-size: cover;
background-position: 50%;
}
.gamesite{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%), url(/image/gamesite.png);
background-size: cover;
background-position: 50%;
}
.dijital{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%), url(/image/dijital.png);
background-size: cover;
background-position: 50%;
}
.content-project{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 430px;
height: 50px;
transition: all .5s ease;
}
.skill-card{
  display: flex;
  align-items: center;
flex-direction: row;
gap: 16px;

}
.nameskill{
  font-family: 'Sora';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
padding: 10px 10px;
border: 2px solid #5A16E1;
border-radius: 24px;
}
.name-project{
font-family: 'Sora';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}
.contact{
  margin-top: 87px;
  margin-bottom: 60px;
  text-align: center;

}
.contact-title{
font-weight: 600;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;
}
.contact-content{
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact-icons{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
}
.fa-hand-point-down{
  color: #E0800B;
}
.icon{
font-size: 24px;
color: #08003B;
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
background-color: #FFF;
border-radius: 50%;
  position: relative;
  color: #262626;
  transition: 1s;
  z-index: 3;
}
.fa-telegram-plane{
  padding: 11px 14px 10px 10px;
}
.fa-linkedin-in{
  padding: 10px 12px;
}
.contact-link{
  background-color: #fff;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
.contact-link:hover .icon {
  color: #fff;
  background-color: #5A16E1;
  transform: rotateY(360deg);
}
.contact-link:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #66FCF1;
  transition: .5s;
  z-index: 2;
}
.contact-link:hover:before {
  top: 0;
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  .hero-image{
    /* display: none; */
width: 467px;
height: 410px;
right: 0;
top: 20px;
  }
  .hero-signal-title{
    max-width: 400px;
    margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hero-title {
font-size: 32px;
line-height: 46px;
}
.ui{
  font-size: 48px;
}
.hero-subtitle{
  margin-top: 16px;
  width: 400px;
gap: 16px;
}

.hero-subtitle-text{
font-weight: 400;
font-size: 14px;
}

.myskill{
  padding-left: 30px;
  gap: 30px;
  margin-top: 70px;
}
.skill{
  font-size: 16px;
  padding: 0px 12px;
}
.hero-btn,.btn-text{
  width: initial;
height: initial;
padding: 4px 10px 4px 4px;
gap: 10px; 
}

.hero-subtitle svg{
  width: 30px;
  height: 30px;
}
.aboutme{
  margin-top: 50px;
}
.about-paragraph-1,.about-paragraph-2{
font-size: 28px;
line-height: 40px;
}
.about-paragraph-1 img, .about-paragraph-2 img{
height: 20px;
}
.accord:hover{
  width: 80%;
    .card .content-project{
    width: initial;
    height: initial;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.card{
  padding: 30px 10px;
}
.gym{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/GYM24.png);
  background-size:cover;
  background-position: 50%;
}
.post{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/Post.png);
background-size:cover;
background-position: 50%;
}
.nice{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/nice.png);
background-size: cover;
background-position: 50%;
}
.mobileapp{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/mobileapp.png);
background-size: cover;
background-position: 50%;
}
.gamesite{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/gamesite.png);
background-size: cover;
background-position: 50%;
}
.dijital{
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/dijital.png);
background-size: cover;
background-position: 50%;
}
.nameskill{
font-size: 12px;
padding: 4px;
}
.name-project{
font-weight: 300;
font-size: 12px;
line-height: 18px;
}
.link svg{
  width: 30px;
  height: 30px;
}
}
@media screen and (max-width: 767px) and (min-width: 350px){
  .hero-image{
    display: none;
  }
  .hero-block-content{
    padding-left: 0;
  flex-direction: column;
  gap: 12px;
  }
.hero-signal-title{
  margin-top: 20px;
  width: initial;
  height: initial;
  }
.hero-title{
  font-size: 32px;
  line-height: 48px;
  }
.ui{
  font-size:42px;
  }
.hero-subtitle{
  gap: 12px;
  }
.hero-subtitle-text{
  font-weight: 200;
  }
.hero-btn svg{
  width: 24px;
  height: 24px;
  }
.hero-btn{
  width: initial;
  height: initial;
  padding: 4px 16px 4px 4px;
  gap: 8px;
  }
.line{
  padding-left: 10px;
  }
.myskill{
  margin-top: 50px;
  gap: 12px;
  }
.skill{
  font-size: 16px;
  padding: 0 12px;
  font-weight: 300;
  }
.aboutme{
  margin-top: 50px;
  }
.about-paragraph-1,.about-paragraph-2{
  font-size: 24px;
  line-height: 30px;
  }
.about-paragraph-1 img, .about-paragraph-2 img{
  height: 18px;
  }
  .portfolio-title{

font-size: 32px;
line-height: 40px;

}
.portfolio-cards{
  margin-top: 20px;
  width: 100%;
  height: initial;
  display: flex;
  flex-direction: column;
  }
.accord{
  width: 100%;
  height: 400px;
  }
  .card .content-project{
    width: initial;
    height: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    }
.card{
  /* position: relative; */
  background: none;
  }
.accord:hover{
  width: 100%;
    .card .content-project{
    width: initial;
    height: initial;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.content-project{
  display: block;
}
.card{
  padding: 30px 10px;
  }
.gym{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/GYM24.png);
  background-size:cover;
  background-position: 50%;
  }
.post{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/Post.png);
  background-size:cover;
  background-position: 50%;
  }
.nice{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/nice.png);
  background-size: cover;
  background-position: 50%;
  }
.mobileapp{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/mobileapp.png);
  background-size: cover;
  background-position: 50%;
  }
.gamesite{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/gamesite.png);
  background-size: cover;
  background-position: 50%;
  }
.dijital{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0.7) 70%), url(/image/dijital.png);
  background-size: cover;
  background-position: 50%;
  }
  .contact{
  margin-top: 50px;
  margin-bottom: 30px;
}
.contact-title{
font-weight: 400;
font-size: 24px;
line-height: 20px;
}

.contact-icons{
  margin-top: 16px;
  gap:16px;
}

.icon{
font-size: 20px;
}
}